@media (min-width: 450px) {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }
}

@media (max-width: 450px) {
  .swiper-slide,
  .swiper {
    display: none;
  }
}
